<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" required>
                <label for="name">Name</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="email" formControlName="emailAddress" class="form-control" id="emailAddress" placeholder="Email Address" required>
                <label for="emailAddress">Email Address</label>
              </div>
  
              <mat-form-field appearance="fill" class="register-form-field form-floating mb-3">
                <mat-label>Country Code</mat-label>
                <input type="text" formControlName="countryCode" matInput [matAutocomplete]="auto" placeholder="Country Code">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                  <mat-option *ngFor="let country of filteredCountryCodes | async" [value]="country">
                    {{country.flag}} {{country.dial_code}} {{country.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
              <div class="form-floating mb-3">
                <input type="tel" formControlName="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
                <label for="phoneNumber">Phone Number</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" formControlName="address" class="form-control" id="address" placeholder="Address" required>
                <label for="address">Address</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" formControlName="city" class="form-control" id="city" placeholder="City" required>
                <label for="city">City</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" formControlName="state" class="form-control" id="state" placeholder="State" required>
                <label for="state">State</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" formControlName="pinCode" class="form-control" id="pinCode" placeholder="Pin Code" required>
                <label for="pinCode">Pin Code</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" formControlName="country" class="form-control" id="country" placeholder="Country" required>
                <label for="country">Country</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required>
                <label for="password">Password</label>
              </div>
  
              <div class="center">
                <button type="submit" class="register-button">
                  Register
                </button>
              </div>
              
              
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  