<div class="container text-center my-5">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you!</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <fa-icon [icon]="faPhone" size="3x" class="mb-3"></fa-icon>
                    <h4 class="card-title">Phone</h4>
                    <p class="card-text">+91 9873938621</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <fa-icon [icon]="faEnvelope" size="3x" class="mb-3"></fa-icon>
                    <h4 class="card-title">Email</h4>
                    <p class="card-text">bion.essentials@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <fa-icon [icon]="faInstagram" size="3x" class="mb-3"></fa-icon>
                    <h4 class="card-title">Instagram</h4>
                    <p class="card-text">@bion_essentials</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <fa-icon [icon]="faMapMarkerAlt" size="3x" class="mb-3"></fa-icon>
                    <h4 class="card-title">Location</h4>
                    <p class="card-text">Rohini, New Delhi, India</p>
                </div>
            </div>
        </div>
    </div>
</div>
