.container {
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.fa-icon {
    color: #333;
}

.card {
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px rgba(38, 38, 38, 0.2);
}

.card-body {
    padding: 2rem;
}

.card-title {
    margin-bottom: 1.5rem;
    font-size: 1.5em;
}
