.my-filter {
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.table-responsive {
    width: 80%;
    margin: auto;
}

table.table {
    transition: all 0.3s;
    width: 100%;
}

::ng-deep .mat-row {
    transition: background-color 0.3s ease; 
}

::ng-deep .mat-row:hover {
    background-color: lightskyblue !important;
    border: 1px solid darkblue !important;
}

table.table img {
    border-radius: 50%; /* Makes the images circular */
}

/* Colored badges for different inventory statuses */
.badge {
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}

.badge-in-stock {
    background-color: darkgreen;
}

.badge-pre-order {
    background-color: orange;
}

.badge-out-of-stock {
    background-color: lightcoral;
}

::ng-deep .mat-sort-header-arrow .mat-sort-header-indicator {
    color: purple !important;
}

::ng-deep .mat-cell.centered-cell {
    justify-content: center;
    align-items: center;
    display: flex;
}

::ng-deep .mat-header-cell {
    justify-content: center;
    align-items: center;
    display: flex;
}
