<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="emailAddress" placeholder="Email Address" required>
                <label for="emailAddress">Email Address</label>
                <p class="text-danger" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">Invalid Email</p>
              </div>
              <div class="form-floating mb-3">
                <select formControlName="securityQuestion" class="form-control" id="securityQuestion" required>
                  <option value="" disabled selected>Select a Security Question</option>
                  <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                  <option value="Which year were you born?">Which year were you born?</option>
                  <option value="Which city were you born?">Which city were you born?</option>
                  <option value="Who is your favorite athlete?">Who is your favorite athlete?</option>
                  <option value="What is your spouses name?">What is your spouses name?</option>
                  <option value="When did you graduate?">When did you graduate?</option>
                </select>
                <label for="securityQuestion">Security Question</label>
                <p class="text-danger" *ngIf="forgotPasswordForm.get('securityQuestion')?.invalid && forgotPasswordForm.get('securityQuestion')?.touched">Please select a security question</p>
              </div>
              <div class="form-floating mb-3">
                <input type="text" formControlName="securityAnswer" class="form-control" id="securityAnswer" placeholder="Security Answer" required>
                <label for="securityAnswer">Security Answer</label>
                <p class="text-danger" *ngIf="forgotPasswordForm.get('securityAnswer')?.invalid && forgotPasswordForm.get('securityAnswer')?.touched">Security answer should contain atleast two charecters and can't be empty</p>
              </div>
              <div class="form-floating mb-3">
                <input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="New Password" required>
                <label for="newPassword">New Password</label>
                <p class="text-danger" *ngIf="forgotPasswordForm.get('newPassword')?.invalid && forgotPasswordForm.get('newPassword')?.touched">Password is required and should be minimum 8 characters long, contain at least one uppercase letter, one number, one special character and no spaces.</p>
              </div>
              <div class="center">
                <button type="submit" class="reset-button" [disabled]="!forgotPasswordForm.valid">
                  Reset Password
                </button>
              </div>
              <div class="center">
                <p>Remember your password? <a routerLink="/login">Login here</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
