<nav class="navbar">
    <a routerLink="/">Homepage</a>
    <a routerLink="/aboutbion">About BION</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact Us</a>
  
    <!-- Show these links if a user is not logged in -->
    <div *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  
    <!-- Show these links if a user is logged in -->
    <div *ngIf="isLoggedIn">
      <a *ngIf="userType === 'Admin'" routerLink="/adminDashboard">Admin Dashboard</a>
      <a *ngIf="userType === 'Customer'" routerLink="/customerDashboard">Customer Dashboard</a>
      <a (click)="logout()">Logout</a>
    </div>
</nav>
